/* Reset */
* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

body{
    background-color: hsl(130, 30%, 10%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

div { 
    font-size: clamp(10px, 3vw, 30px);
    background-color: hsl(130, 40%, 20%);
    color: hsl(0, 0%, 100%);
    border-style: solid;
    border-width: 2px;
    border-color: hsl(0, 0%, 0%);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    padding: 10px 20px;
}