/* Reset */
* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

:root{
    --bg-dark: hsl(130, 30%, 5%);
    --bg: hsl(130, 30%, 10%);
    --bg-licht: hsl(130, 40%, 20%);

    --secondary-color: hsl(30, 70%, 30%);

    --text-muted: hsl(0, 0%, 70%);
    --text: hsl(0, 0%, 90%);
    --text-bright: hsl(0, 0%, 100%);
}

.hero {
  display: flex;
  position: relative;
  min-height: 80vh;

  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1em;

  background-image: url('image-place-holder.jpeg');
  background-size: cover;
  background-position: center;
}

.hero::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: hsla(0, 0%, 0%, 0.5);
  z-index: 0;
}

.hero h1, .hero p, .hero button {
  position: relative;
  z-index: 1;
}

.hero h1 {
  color: var(--text-bright);
  font-size: clamp(1em, 8vw, 5em);
}

.hero p {
    color: var(--text);
  font-size: clamp(0.5em, 3vw, 2em);
}

.hero button {
  padding: 10px;

  background-color: var(--secondary-color);
    border-width: 2px;
  border-color: var(--secondary-color);
  border-radius: 0.7em;

  color: var(--text);
  font-size: clamp(0.5em, 1.5vw, 1em);
}