/* Reset */
* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

:root{
    --bg-dark: hsl(130, 30%, 5%);
    --bg: hsl(130, 30%, 10%);
    --bg-licht: hsl(130, 40%, 20%);
    --text: hsl(0, 0%, 90%);
}

body{
    background: linear-gradient(var(--bg), var(--bg-dark) 50%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

div { 
    font-size: clamp(10px, 3vw, 30px);
    background: linear-gradient(var(--bg-licht), var(--bg) 40%);
    color: var(--text);
    border-style: solid;
    border-width: 2px;
    border-color: var(--bg-dark);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    padding: 10px 20px;
}